h1 {
	color: #212529;
}

tr {
	width: 100%;
	display: inline-table;
	table-layout: fixed;
}

table{
 	display: -moz-groupbox; 
}

tbody{
	  overflow-y: scroll;      
	  height: 300px;         
	  width: 100%;
	  display: block;
}

footer{
	background-color: #212529;
	padding: 4px;
	bottom: 0;
	left: 0;
	margin: 0, auto;
}

footer p {
	color:white;
}

footer a {
	color:#ee5250;
}

footer a:hover {
	color:white;
}

li a {
	color:white;	
}

li a:hover {
	color:#ee5250 !important;	
}

.nav-tabs {
	margin-top: 2%;
}

.nav-tabs .nav-item {
	background-color: #212529;
}

.nav-link.active {
	color: #ee5250 !important;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

#squares {
	margin: 5px auto 15px;
}

#squares div {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
    display: block;
    float: left;

    width: 20px;
    height: 20px;


    /* a small margin to separate the blocks */
    margin-right: 5px;
}

#squares p {
	display: block;
	float: left;
	margin: 0px 8px;
}

#square1 {  background: #ee5250;}
#square2 {  background: #ff7676;}
#square3 {  background: #ff8260;}
#square4 {  background: #93ca63;}
#square5 {  background: #66ba6a;}
